page-login {

    .main-page{
      // background-color: #f9cd46;
    }

    .error-message{
      color:white;
      margin-left: 5%;
    }
    ion-content{
      background-image: url('../img/background.png');
      -webkit-background-image: url('../img/background.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;

    }

    .item-md {
      background-color: transparent;
      color:white;
    }



    ::-webkit-scrollbar {
        display: none;
    }

    .login_input{
      width: 75%;
      height: 30px;
      border-radius: 20px;
      margin:3px;
      font-size: 14px;
      padding-left: 10px;

    }

    .login_button{

      width: 90%;
      height: 50px;
      border-radius: 30px;
      margin-top:10%;
      font-size: 16px;
      background: linear-gradient(90deg, #2D89FF , #2c3697);
      text-transform:uppercase;
      color: white;
    }

    .login_button_white{

      width: 90%;
      height: 50px;
      border-radius: 30px;
      margin-top:10px;
      font-size: 16px;
      background-color:white;
      text-transform:uppercase;
      color: #757678;
      opacity: 0.9;
    }

    .reg_t{
      color: #958759;

    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #c2d6d6;
      opacity: 1; /* Firefox */
    }
}
