



<ion-content padding class="main-page">

  <!-- <div text-center style="margin-top:20%;">
    <p style="text-transform:uppercase;color:white;font-size:18px;">{{"D1"|translate}} &nbsp;&nbsp;{{"D1_2"|translate}}</p>
  </div> -->

  <div text-center>

      <img style="width:70%;margin-top:30%;" src="../img/MNENIE_white.png" alt="">

  </div>

  <!-- <ion-row style="margin-top:10%;">

    <ion-col col-2></ion-col>
    <ion-col col-8>

      <ion-row>

          <ion-col col-4><img src="../img/facebook_icon.png" alt=""></ion-col>
          <ion-col col-4><img src="../img/google_icon.png" alt=""></ion-col>
          <ion-col col-4><img src="../img/twitter_icon.png" alt=""></ion-col>

      </ion-row>

    </ion-col>
    <ion-col col-2></ion-col>

  </ion-row> -->

  <!-- <div text-center>
    <p style="font-size: 16px;"><b>{{ "D2" | translate }}
        <br>{{"D3"|translate}}
    </b></p>
    <p></p>
  </div> -->

  <!-- <div text-center style="margin-top:20%;">
    <p style="font-size:16px;"><b>{{"D4"|translate}}</b></p>
  </div> -->

  <form style="margin-top:20%;" [formGroup]="todoForm" (ngSubmit)="logForm()" >

    <ion-item>
    <!-- <input class="registration_input" [(ngModel)]="todo.phone" name="email" type="text" placeholder="{{ 'D10' | translate }}" > -->
    <ion-label color="light" stacked>{{ 'D5' | translate }}</ion-label>
    <ion-input formControlName="email"  [(ngModel)]="todo.email" name="email" type="text" (keyup)="phoneCorrection($event)"  ></ion-input>
    </ion-item>

    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email" >
          <div class="error-message" *ngIf="todoForm.get('email').hasError(validation.type) && (todoForm.get('email').dirty || todoForm.get('email').touched)">
        {{ validation.message }}
          </div>
        </ng-container>
    </div>

  <ion-item>
  <!-- <input class="registration_input" [(ngModel)]="todo.phone" name="email" type="text" placeholder="{{ 'D10' | translate }}" > -->
  <ion-label color="light" stacked>{{ 'D6' | translate }}</ion-label>
  <ion-input formControlName="password" type="password" [(ngModel)]="todo.password" name="password"  ></ion-input>
  </ion-item>

  <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password" >
        <div class="error-message" *ngIf="todoForm.get('password').hasError(validation.type) && (todoForm.get('password').dirty || todoForm.get('password').touched)">
      {{ validation.message }}
        </div>
      </ng-container>
  </div>

  <!-- <div text-center>
    <input type="password" class="login_input" [(ngModel)]="todo.password" name="password" placeholder="{{ 'D6' | translate }}">
  </div> -->

  <div text-center>
    <button type="submit" [disabled]="todoForm.invalid" class="login_button" name="button"><b>{{ 'D7' | translate }}</b></button>
    <!-- <img type="submit"  name="button" src="../img/btn-blue.png" alt=""> -->
  </div>

  </form>

  <div text-center style="">

    <button (click)="regPage()" class="login_button_white">{{ 'D8' | translate }}</button>

  </div>


</ion-content>
