<!-- <ion-tabs color="appheader" >
  <ion-tab style="font-size:30px;" [root]="tab1Root"  tabIcon="home"></ion-tab>
  <ion-tab style="font-size:30px;" [root]="tab2Root"  tabIcon="search"></ion-tab>
</ion-tabs> -->
<ion-tabs color="white"  >

  <ion-tab style="font-size:30px;" [root]="tab1Root"  tabTitle="Легкая версия"></ion-tab>
  <ion-tab style="font-size:30px;" [root]="tab2Root"  tabTitle="Расширенная версия"></ion-tab>
  <!-- <ion-tab style="font-size:30px;" [root]="tab3Root"  tabIcon="person"></ion-tab> -->
</ion-tabs>
