page-hello {

  ion-content{
    background-image: url('../img/first.jpg');
    -webkit-background-image: url('../img/first.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    ::-webkit-scrollbar {
		    display: none;
		}

  }

  .oneclick{
      // background-color: red;
      position: fixed;
      bottom: 0%;
      right: 0%;
      width: 150px;
      height: 150px;
  }

  .toolbar-md{
    min-height: 50px;
  }


}
