<ion-header>
  <ion-navbar color="appheader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

  <!-- <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" color="primary">
      <ion-segment-button value="first" >
        <ion-icon name="camera"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="second">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="third">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

</ion-header>

<ion-content padding>



  <h3>Ionic Menu Starter</h3>

  <p style="font-size:16px;">
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>

  <ion-buttons end>
    <button ion-button (click)="openModal()">openModal</button>
  </ion-buttons>


  <div>
    Count: {{ count }}
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
  </div>



  <!-- <ion-list>
      <ion-item>
      <ion-label>Language</ion-label>
      <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
      <ion-option value="en">English</ion-option>
      <ion-option value="ta">Tamizh (தமிழ்)</ion-option>
      </ion-select>
      </ion-item>
</ion-list> -->


<!-- <ion-list>
 <ion-item>
  <h2>{{ 'APPLE' | translate }}</h2>
 </ion-item>
 <ion-item>
  <h2>{{ 'BALL' | translate }}</h2>
 </ion-item>
 <ion-item>
  <h2>{{ 'CAT' | translate }}</h2>
 </ion-item>
</ion-list> -->
</ion-content>
