page-hellothree {

  ion-content{
    background-image: url('../img/three.jpg');
    -webkit-background-image: url('../img/three.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    ::-webkit-scrollbar {
        display: none;
    }

  }

  .threeclick{
    // background-color: red;
      position: fixed;
      bottom: 0%;
      left:0%;
      width: 100%;
      height: 150px;
  }


}
