<!--
  Generated template for the HellothreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>hellothree</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <div class="threeclick" (click)="nextPage()">

  </div>

</ion-content>
