<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-content>



    <ion-grid>
      <ion-row>
        <ion-col col-3>

            <img src="../img/logo.png" alt="">

        </ion-col>
        <ion-col col-6>
              <img style="margin-top:25px;" class="circle" src="http://kazpoisk.kz/assets/entry/uploads/1a8a0bf4a784da40b765a3875fbedd11.jpg">
      </ion-col>
        <ion-col col-3></ion-col>

      </ion-row>
      <ion-row>

        <ion-col col-12>
              <h4 style="margin-top:0px;margin-bottom:0px;" text-center>Sunny Yoall</h4>
              <p style="margin-top:0px;color:#C40C1F;" text-center><b>Пользователь</b></p>
              <p  text-center>Настройки</p>
        </ion-col>

      </ion-row>

    </ion-grid>


    <!-- <ion-list style="margin-left:20px;">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list> -->


    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[0])">
          Создать заявку<img style="position:absolute;right:15px;top:15px;" src="../img/ellipse.png" alt=""><p style="position:absolute;right:21px;top:17px;color:white;">2</p>
      </button>
    </ion-list>


    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[1])">
          Добавить объекты<img style="position:absolute;right:15px;top:15px;" src="../img/ellipse.png" alt=""><p style="position:absolute;right:21px;top:17px;color:white;">1</p>
      </button>
    </ion-list>

    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[2])">
          Личный кабинет
      </button>
    </ion-list>

    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[3])">

        <ion-label>Режим риэлтора</ion-label>
        <ion-toggle color="green"></ion-toggle>

      </button>

    </ion-list>


    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[4])">
          Обратная связь
      </button>
    </ion-list>

    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[5])">
          Оставить отзыв
      </button>
    </ion-list>


    <ion-list style="margin-left:20px;">
      <button menuClose ion-item  (click)="openPage(pages[6])">
          Предложить друзьям
      </button>
    </ion-list>





  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
