<!--
  Generated template for the RegistrationtwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>registrationtwo</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="main-page">


  <div text-center>

      <img style="width:70%;margin-top:30%;" src="../img/MNENIE_white.png" alt="">

  </div>

  <form style="margin-top:10%;" [formGroup]="todoForm" (ngSubmit)="sendRegistration()">

    <!-- <div text-center style=""> -->
    <!-- [textMask]="{mask: masks.phoneNumber}" -->

    <ion-list>

      <ion-item>
        <ion-label color="light" stacked>{{ 'Z1' | translate }}</ion-label>
        <ion-input type="text" formControlName="phone" (keyup)="phoneCorrection($event)" [(ngModel)]="todo.phone" ></ion-input>

      </ion-item>


      <div class="validation-errors">
          <ng-container *ngFor="let validationtwo of validation_messages.phone" >
            <div class="error-message" *ngIf="todoForm.get('phone').hasError(validationtwo.type) && (todoForm.get('phone').dirty || todoForm.get('phone').touched)">
          {{ validationtwo.message }}
            </div>
          </ng-container>
      </div>


      <ion-item>
        <ion-label color="light" stacked>{{ 'Z2' | translate }}</ion-label>
        <ion-input type="text" formControlName="email" [(ngModel)]="todo.email" ></ion-input>
      </ion-item>

      <div class="validation-errors">
          <ng-container *ngFor="let validationtwo of validation_messages.email" >
            <div class="error-message" *ngIf="todoForm.get('email').hasError(validationtwo.type) && (todoForm.get('email').dirty || todoForm.get('email').touched)">
          {{ validationtwo.message }}
            </div>
          </ng-container>
      </div>





      <ion-item>
      <!-- <input class="registration_input" [(ngModel)]="todo.phone" name="email" type="text" placeholder="{{ 'D10' | translate }}" > -->
      <ion-label color="light" stacked>{{ 'D6' | translate }}</ion-label>
      <ion-input type="text" formControlName="password" name="password" [(ngModel)]="todo.password" required ></ion-input>
      </ion-item>

      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password" >
            <div class="error-message" *ngIf="todoForm.get('password').hasError(validation.type) && (todoForm.get('password').dirty || todoForm.get('password').touched)">
          {{ validation.message }}
            </div>
          </ng-container>
      </div>






    </ion-list>



    <div text-center>
      <button type="submit"  [disabled]="todoForm.invalid"  class="login_button" name="button"><b>{{ 'D18' | translate }}</b></button>
    </div>

    </form>

    <div text-center style="">

      <button (click)="loginPage()" class="login_button_white">{{ 'D4' | translate }}</button>

    </div>






    <!-- </div> -->



    <!-- <p>
    Value: {{ email.value }}
  </p> -->






</ion-content>
