page-registrationtwo {

  .main-page{
    background-image: url('../img/background.png');
    -webkit-background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .item-md {
    background-color: transparent;
    color:white;
  }

  ::-webkit-scrollbar {
      display: none;
  }

  .error-message{
      color:#990000;
      margin-left: 5%;
  }

  .login_button{

    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-top:10%;
    font-size: 16px;
    background: linear-gradient(90deg, #2D89FF , #2c3697);
    text-transform:uppercase;
    color: white;
  }

  .login_button_white{

    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-top:10px;
    font-size: 16px;
    background-color:white;
    text-transform:uppercase;
    color: #757678;
    opacity: 0.9;
  }

  .repeate_send{
    margin-left:8%;
  }



}
