<!--
  Generated template for the RegistrationonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>registrationone</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="main-page">


  <div text-center class="login_title">
    <h4><b>{{"D9"|translate}}</b></h4>
  </div>

<form (ngSubmit)="sendSms()">

  <!-- <div text-center style=""> -->
    <ion-item>
    <!-- <input class="registration_input" [(ngModel)]="todo.phone" name="email" type="text" placeholder="{{ 'D10' | translate }}" > -->
    <ion-label color="light" stacked>{{ 'D10' | translate }}</ion-label>
    <ion-input type="tel" [formControl]="email" name="email" [(ngModel)]="todo.phone" ></ion-input>
    </ion-item>
  <!-- </div> -->

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.email" >
		<div class="error-message" *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
	{{ validation.message }}
		</div>
	</ng-container>
	</div>

  <!-- <p>
  Value: {{ email.value }}
</p> -->

  <div text-center>
    <button type="submit" ion-button round [disabled]="email.invalid" class="login_button" name="button"><b>{{ 'D16' | translate }}</b></button>
  </div>

  </form>

  <div class="repeate_send">
    <p ><b style="">{{"D14"|translate}}</b></p>
  </div>

  <div text-center style="margin-top:50%;">
    <p ><b style="font-size:18px;color:white;">{{"D15"|translate}}</b></p>
  </div>

</ion-content>
