page-registrationone {
  .main-page{
    background-color: #1d77ff;
  }

  ::-webkit-scrollbar {
      display: none;
  }

  .login_title{
    margin-top:40%;
    color:white;
  }

  .white_color{
    color:white;
  }

  .error-message{
      color:#990000;
      margin-left: 5%;
  }

  .item-md {
    background-color: transparent;
    color:white;
  }

  .repeate_send{
    margin-left:8%;
    color:white;
  }

  // .login_button{
  //
  //   width: 75%;
  //   height: 40px;
  //   border-radius: 20px;
  //   margin:3px;
  //   font-size: 18px;
  //   background-color: #378ccc;
  //   color: white;
  // }


}
