page-select-language {

    ion-content{
      background-image: url('../img/select_language.png');
      -webkit-background-image: url('../img/select_language.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .login_button{

      width: 90%;
      height: 50px;
      border-radius: 30px;
      margin-top:10%;
      font-size: 16px;
      background: linear-gradient(90deg, #00D3ED , #2c3697);
      text-transform:uppercase;
      color: white;
    }

    

}
