<!--
  Generated template for the SelectLanguagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>selectLanguage</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>


    <ion-row style="margin-top:80%;">



      <ion-col col-1></ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-label>English</ion-label>
          <ion-checkbox (click)="sendValue(1)" color="#00D3ED" item-right></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Русский</ion-label>
          <ion-checkbox  (click)="sendValue(2)" color="#00D3ED" checked item-right></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Chinese</ion-label>
          <ion-checkbox  (click)="sendValue(3)" color="#00D3ED" item-right></ion-checkbox>
        </ion-item>

        <ion-item >
          <ion-label>Japanese</ion-label>
          <ion-checkbox  (click)="sendValue(4)" color="#00D3ED" item-right></ion-checkbox>
        </ion-item>


      </ion-col>
      <ion-col col-1></ion-col>

    </ion-row>













  <div text-center style="">

    <button (click)="Done()" class="login_button">{{ 'D21' | translate }}</button>

  </div>

</ion-content>
