<!--
  Generated template for the NewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Z4' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>


  <ion-item>
    <ion-textarea placeholder="{{ 'Z3' | translate }}"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-textarea placeholder="{{ 'Z5' | translate }}"></ion-textarea>
  </ion-item>
</ion-list>

</ion-content>
