<!--
  Generated template for the RegistrationthreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>registrationthree</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <div style="margin-top:10%;">
    <h3 style="text-transform:uppercase;">Регистрация</h3>
    <p style="font-size:16px;color:#00adef;">Добро пожаловать в M2</p>
  </div>


  <div text-center style="margin-top:5%;">

    <button (click)="selectPosition(3)" class="login_button">Владелец недвижимости</button>
    <button (click)="selectPosition(1)" style="margin-top:8px;" class="login_button">Компания</button>
    <button (click)="selectPosition(2)" style="margin-top:8px;" class="login_button">Специалист (Риэлтор)</button>
    <button (click)="selectPosition(0)" style="margin-top:8px;" class="login_button">Пользователь</button>

  </div>

  <ion-row style="margin-top:20px;">

    <ion-col col-2></ion-col>
    <ion-col col-8>

      <ion-row>

          <ion-col col-4><img src="../img/facebook_icon.png" alt=""></ion-col>
          <ion-col col-4><img src="../img/google_icon.png" alt=""></ion-col>
          <ion-col col-4><img src="../img/twitter_icon.png" alt=""></ion-col>

      </ion-row>

    </ion-col>
    <ion-col col-2></ion-col>

  </ion-row>

  <div text-center (click)="Login()">

      <p  style="margin-top:0px;">У Вас уже есть аккаунт?&nbsp;<span style="color:#FE595F;">Вход</span></p>

  </div>

  <div class="reg" (click)="SkipRegistration()">

      <p class="reg_t">пропустить регистрацию</p>

  </div>

</ion-content>
