page-registrationthree {


  ion-content{
    background-image: url('../img/registration_three.png');
    -webkit-background-image: url('../img/registration_three.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .login_button{

    width: 90%;
    height: 50px;
    border-radius: 30px;
    margin-top:10%;
    font-size: 16px;
    background: linear-gradient(90deg, #00adef , #2c3697);
    text-transform:uppercase;
    color: white;
  }

  .reg{
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;

  }

  .reg_t{
    font-size:16px;text-transform:uppercase;text-align:center;color:#0368FF;
  }

}
