page-hellotwo {

  ion-content{
    background-image: url('../img/two.jpg');
    -webkit-background-image: url('../img/two.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    ::-webkit-scrollbar {
        display: none;
    }

  }

  .twoclick{
      // background-color: red;
      position: fixed;
      bottom:0%;
      right: 0%;
      width: 150px;
      height: 150px;
  }

}
