<!--
  Generated template for the HellotwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>hellotwo</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

  <div class="twoclick" (click)="nextPage()">

  </div>

</ion-content>
